#root {
  height: 100vh;
}
.home-component {
  /* background: red; */
  /* position: relative; */
  padding-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navigation {
  font-size: 2.81em;
  display: flex;
  flex-direction: row;
  /* margin-top: 150px; */
  justify-content: center;
  /* position: absolute; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
}
.navigation-link {
  color: #363636;
}
.divider {
  width: 5px;
  background-color: #b87650;
  margin: 0 30px;
}

.title {
  color: #363636;
}

.intro {
  font-size: 6.25em;
  /* border: 1px solid black; */
  padding: 0px 10px;
}
.name {
  font-size: 13.25em;
  line-height: 0.8em;
}
.lastName {
  position: relative;
}
.circle {
  position: absolute;
  top: 5%;
  right: -15%;
  height: 162px;
  width: 162px;
  background: #b87650;
  border-radius: 100%;
  z-index: -1;
}
.hero-line {
  margin-top: 210px;
  font-size: 2.81em;
  color: #363636;
  letter-spacing: 0.1em;
}
.hero-line-color {
  color: #b87650;
}

@media only screen and (max-width: 1025px) {
  .firstName {
    display: block;
  }

  .circle {
    top: 15%;
    right: -14%;
    height: 140px;
    width: 140px;
  }
}

@media only screen and (max-width: 645px) {
  .intro {
    font-size: 4.25em;
  }
  .name {
    font-size: 9.25em;
  }
  .navigation {
    font-size: 1.8em;
  }
  .hero-line {
    font-size: 2.21em;
  }
  .circle {
    top: 18%;
    right: -9%;
    height: 90px;
    width: 90px;
  }
}

@media only screen and (max-width: 477px) {
  .intro {
    font-size: 2.65em;
  }
  .name {
    font-size: 6.25em;
  }
  .circle {
    height: 65px;
    width: 65px;
  }

  .navigation {
    font-size: 1.2em;
  }
  .hero-line {
    font-size: 1.81em;
  }
  .title {
    margin-top: 10px;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    /* margin-top: 150px; */
    /* position: absolute; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
  }
}
