:root {
  --nav-seperator-width: 4px;
  --nav-seperator-height: 30px;
  --font-size-pre-title: 4.25rem;
  --font-size-main-title: 9.8rem;
  --font-size-nav-link: 1.5rem;
  --main-title-circle: 103px;
  --main-title-circle-top: 20px;
  --main-title-circle-right: -25px;
}
.header-container {
  padding-top: 100px;
}
.navigation {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  align-items: center;
}
.nav__link {
  font-size: var(--font-size-nav-link);
  color: var(--main-black-color);
}
.test {
  animation: 1s linear 0s 1 appearFromLeft;
}
.testa {
  animation: 1s linear 0s 1 appearFromRight;
}
.nav__link:after {
  transition: all ease-in-out 0.2s;
  background: none repeat scroll 0 0 var(--main-orange-color);
  content: '';
  display: block;
  height: 3px;
  width: 0;
}
.nav__link:hover:after {
  width: 100%;
}
.nav__link_seperator {
  height: var(--nav-seperator-height);
  width: var(--nav-seperator-width);
  margin: 0px 20px;
  background: var(--main-orange-color);
}

.main-title-container {
  width: max-content;
  margin: 0 auto;
  color: var(--main-black-color);

  animation: 1s linear 0s 1 slideInTop;
}
.pre-title {
  font-size: var(--font-size-pre-title);
}
.main-title {
  font-size: var(--font-size-main-title);
}
.main-title__last_name {
  position: relative;
  z-index: 1;
}

.title-circle {
  position: absolute;
  width: var(--main-title-circle);
  height: var(--main-title-circle);
  border-radius: 100%;
  background: var(--main-orange-color);
  top: var(--main-title-circle-top);
  right: var(--main-title-circle-right);
  z-index: -1;
  animation: 1s linear 0s 1 slideInBottom;
}

@keyframes appearFromRight {
  0% {
    transform: translateX(-30%);
    opacity: 0%;
    /* width: 0; */
  }
  100% {
    transform: translateX(0);
    opacity: 100%;
    /* width: 100%; */
  }
}
@keyframes appearFromLeft {
  0% {
    transform: translateX(30%);
    opacity: 0%;
    /* width: 0; */
  }
  100% {
    transform: translateX(0);
    opacity: 100%;
    /* width: 100%; */
  }
}

@keyframes slideInTop {
  0% {
    transform: translateY(10%);
    opacity: 0%;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

@keyframes slideInBottom {
  0% {
    transform: translateY(-100%);
    opacity: 0%;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}
/* laptop */
@media only screen and (max-width: 1025px) {
  :root {
    --font-size-nav-link: 1.2rem;
    --font-size-pre-title: 3.65rem;
    --font-size-main-title: 8rem;
    --nav-seperator-height: 25px;
    --nav-seperator-width: 3px;
    --main-title-circle: 93px;
    --main-title-circle-top: 10px;
    --main-title-circle-right: -28px;
  }
}

/* tablet */
@media only screen and (max-width: 768px) {
  :root {
    --font-size-nav-link: 1rem;
    --font-size-pre-title: 2.15rem;
    --font-size-main-title: 5rem;
    --nav-seperator-height: 22px;
    --main-title-circle: 56px;
    --main-title-circle-top: 10px;
    --main-title-circle-right: -15px;
  }
}

/* mobile */
@media only screen and (max-width: 480px) {
  :root {
    --font-size-pre-title: 1.75rem;
    --font-size-main-title: 4rem;
    --main-title-circle: 46px;
    --main-title-circle-top: 10px;
    --main-title-circle-right: -15px;
  }
}
