.about-component {
  margin-top: 200px;
}
.theme-color {
  color: #b87650;
}

.about-component-main-title {
  font-size: 2.81em;
  font-weight: 400;
}

.about-me-container {
  display: grid;
  grid-template-columns: auto auto;
}
.about-me-pic {
  border-radius: 100%;
  height: 100px;
  width: 100px;
  background: green;
}
